<ion-header>
  <ion-toolbar>
    <ion-title>lista de estudantes</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="" (click)="myBackButton()"></ion-back-button>
    </ion-buttons>
   </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of users">
      <ion-label>{{item.name}}</ion-label>
      <ion-label>{{item.email}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="openForm()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
