<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="myBackButton()"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input  placeholder="Enter name" [(ngModel)]="name"></ion-input>
    <ion-label position="stacked">Email</ion-label>
    <ion-input  placeholder="Enter email" [(ngModel)]="email"></ion-input>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input  placeholder="Enter password" type="password"  [(ngModel)]="password"></ion-input>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input  placeholder="Enter password" type="password"  [(ngModel)]="password1"></ion-input>
  </ion-item>
  
  <ion-button expand="block" color="primary" (click)="register()">Cadastrar</ion-button>

  <ion-button expand="block" fill="outline" (click)="clear()">Limpar</ion-button>


</ion-content>
